{% extends 'AdminCrudBundle::layout.html.twig' %}
{% block script %}
    <script>
        $(function(){
            $('.adminMenu > li').removeClass('active');
            $('.commaentLi').addClass('active');
        })
    </script>
{% endblock script %}
    
    
{% block body -%}
    <p>
        <a href="{{ path('comments') }}" class="btn btn-default">
          <span class="glyphicon glyphicon-arrow-left"></span> Вернуться к списку
        </a>
    </p>    
    <h1>
        Новая комментарий        
    </h1>

    {#{ form(form) }#}


    <div class="feedback_form">
        
        <form action="{{ path('comments_create') }}" method="POST" id="contact_form" {{ form_enctype(form) }}>

            {{ form_errors(form) }}
            <div class="form-group">
             {{ form_label(form.name) }}
             {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
             </div>
            
            <div class="form-group">
                <p>
                {{ form_label(form.post_id) }}</p>
                 {{ form_widget(form.post_id, { 'attr': {'class': 'form-control'} }) }}
            </div>
            
             
            <button type="submit" id="form_submit" name="form[submit]" class="btn btn-default">
                <span class="glyphicon glyphicon-check"></span> Создать комментарий
            </button>
             <!-- input type="submit" value="Создать" class="btn btn-default" / -->
             
             {{ form_row(form._token) }}
         </form>
       </div>  



{% endblock %}
