<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %} Igor ok {% endblock title %}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock meta %}
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/blog/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/blog/css/style.css') }}" />
        {% block style %}{% endblock style %}
        <!-- Scripts -->
        <script type="text/javascript" src="{{ asset('bundles/blog/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/blog/js/bootstrap.min.js') }}"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{{ asset('bundles/blog/js/html5shiv.js') }}"></script>
          <script src="{{ asset('bundles/blog/js/respond.min.js') }}"></script>
        <![endif]-->

        {% block script %}{% endblock script %}
    
    

<body>
        <div id="wrap" class="container-fluid">
            <!-- Fixed navbar -->
            <div class="container">
              <!-- mobile logo -->
              <a class="mobileLogo" href="{{ path('_default') }}">
                <img src="{{ asset('bundles/blog/img/logo.png') }}" alt="">
              </a>
              <!-- header start -->
              <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('_default') }}">
                        <img src="{{ asset('bundles/blog/img/logo.png') }}" alt="">
                    </a>
                </div>
                  
                <div class="navbar-collapse collapse">   
                    <div class="row">
                    <div class="knp_menu navbar-left clearfix">
                    {{ knp_menu_render('DemosBlogBundle:Builder:leftMenu', {'class':'nav'}) }}
                    </div>
                    <div class="knp_menu navbar-right clearfix">
                    {{ knp_menu_render('DemosBlogBundle:Builder:rightMenu', {'class':'nav'}) }}
                    </div>
                    </div>
                    
                </div><!--/.nav-collapse -->
              </div>
              <!-- header end -->
                <div class="container textCase pageCatalog">
                    <h2>Возникла непредвиденная ошибка {{ status_code }}</h2>
                    <p>Вернитесь на главную <a href="{{ path('_default') }}">страницу</a></p>
                    <p>&nbsp;</p>
                </div>
            
            
            </div>
            <!-- -->
        </div>
        <!-- footer -->
        <div id="footer" class="container">
          <div class="container">
            <div class="copyRight">
                &copy; ipatov-soft.ru
            </div>
            <!-- -->
           

          </div>
        </div>
        <!-- end footer -->
        
    </body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter22878043 = new Ya.Metrika({id:22878043,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/22878043" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</html>
