<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %} Igor ok {% endblock title %}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock meta %}
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/blog/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/blog/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/blog/css/admin.css') }}" />
        {% block style %}{% endblock style %}
        <!-- Scripts -->
        <script type="text/javascript" src="{{ asset('bundles/blog/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/blog/js/bootstrap.min.js') }}"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{{ asset('bundles/blog/js/html5shiv.js') }}"></script>
          <script src="{{ asset('bundles/blog/js/respond.min.js') }}"></script>
        <![endif]-->
        {% block script %}{% endblock script %}
    
    

<body>
        <div id="wrap" class="container-fluid">
            <!-- Fixed navbar -->
            <div class="container">
              <!-- mobile logo -->
              <a class="mobileLogo" href="{{ path('_admin_main') }}">
                <img src="{{ asset('bundles/blog/img/logo.png') }}" alt="">
              </a>
              <!-- header start -->
              <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('_admin_main') }}">
                        <img src="{{ asset('bundles/blog/img/logo.png') }}" alt="">
                    </a>
                </div>
                  
                <div class="navbar-collapse collapse">
                    <div class="raw">
                    <ul class="adminMenu nav navbar-nav">
                      <li class="newsLi"><a href="{{ path('news') }}">Новости</a></li>
                      <li class="postLi"><a href="{{ path('post') }}">Статьи</a></li>
                      <li class="commentLi"><a href="{{ path('comments') }}">Комментарии</a></li>
                      <li class="projectLi"><a href="{{ path('project') }}">Портфолио</a></li>
                      
                    </ul>
                    <ul class="adminMenu nav navbar-nav navbar-right">
                      
                      <li class="aboutLi"><a href="{{ path('about') }}">О сайте</a></li>
                      <li class="statusLi"><a href="{{ path('status') }}">Статусы</a></li>
                      <li class="blogimageLi"><a href="{{ path('blogimage') }}">Картинки</a></li>
                      <li class="main">
                          
                          <div class="btn-group" style="margin-top:8px;">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              Пользователь
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('_admin_main') }}logout">
                                        <span class="glyphicon glyphicon-log-out"></span> Выйти
                                      </a>
                                </li>
                                <li>
                                    <a href="{{ path('_admin_main') }}profile/change-password">
                                        <span class="glyphicon glyphicon-edit"></span> Сменить пароль
                                      </a>
                                </li>
                              <li>
                                  <a href="{{ path('_admin_main') }}register">
                                      <span class="glyphicon glyphicon-registration-mark"></span> Регистрация</a>
                              </li>
                              <li>
                                  <a href="{{ path('_admin_main') }}profile">
                                      <span class="glyphicon glyphicon-user"></span> Профиль</a>
                              </li>
                            </ul>
                          </div>
                      </li>
                    </ul>
                    </div>
                </div><!--/.nav-collapse -->
                
                </div><!--/.nav-collapse -->
              </div>
              <!-- header end -->
              
            <div class="container">
                <div class="container textCase pageCatalog">
                    <!-- content|raw is required for phtml fallback -->
                    {% block body %}{{ body|raw }}{% endblock body %}
                </div>
            </div>
            </div>  
            <!-- -->
        </div>
        <!-- footer -->
        <div id="footer" class="container">
          <div class="container">
            <div class="copyRight">
                &copy; ipatov-soft
            </div>
            <!-- -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#">Главная</a></li>
                  <li><a href="#about">Новости</a></li>
                  <li><a href="#contact">Статьи</a></li>
                  <li><a href="#article">Портфолио</a></li>
                  <li><a href="#article">Контакты</a></li>
                  <li><a href="#article">Об авторе</a></li>
                </ul>
            </div>

          </div>
        </div>
        <!-- end footer -->
        
    </body>
</html>
