{% block title %} - Об авторе{% endblock title %}

{% extends 'DemosBlogBundle::layout.html.twig' %}
{% block meta %}
    <meta name="Keywords" content="{{about.MetaKeywords}}">
    <meta name="Description" content="{{about.MetaDescription}}">
{% endblock meta %}

{% block content %}
    
<div class="container textCase pageCatalog">
    <h3>{{about.Title}}</h3>
    <p class="postImageCase">
    {%if about.image %}
        <img src="{{ about.image.path }}" alt="{{ about.title}}" />
    {% endif %}
    </p>
    <p>{{about.Description | raw}}</p>    
</div>
{% endblock content %}