{% block title %} - В случае непреодолимого желания связаться с владельцем сайта, вы можете воспользоваться формой.{% endblock title %}

{% extends 'DemosBlogBundle::layout.html.twig' %}
{% block meta %}
    <meta name="Keywords" content="Обратная связь">
    <meta name="Description" content="Обратная связь">
{% endblock meta %}

{% block content %}
    
<div class="container textCase pageCatalog">
    <p class="feedbackHeadline">
        В случае непреодолимого желания связаться с владельцем сайта, вы можете воспользоваться формой.
    </p>
    <div class="feedback_form">
        
        <form action="{{ path('_default_contact') }}" method="POST" id="contact_form">


            {{ form_errors(form) }}
            <div class="form-group">
             {{ form_label(form.name) }}
             {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.subject) }}
            {{ form_widget(form.subject, { 'attr': {'class': 'form-control'} }) }}
             </div>
            <div class="form-group">
                {{ form_label(form.body) }}
                 {{ form_widget(form.body, { 'attr': {'class': 'form-control'} }) }}
            </div>


            <div class="form-group capthca-group">
             {{ form_label(form.captcha) }}
             {{ form_errors(form.captcha) }}
             {{ form_widget(form.captcha, { 'attr': {'class': 'form-control'} }) }}

            </div>

             {{ form_rest(form) }}
             
             <button type="submit" id="form_submit" name="form[submit]" class="btn btn-default">
                <span class="glyphicon glyphicon-send"></span> Телеграфировать
            </button>
         </form>
       </div>  
    
</div>
{% endblock content %}