{% block title %} - блог о веб разработке{% endblock title %}

{% extends 'DemosBlogBundle::layout.html.twig' %}


{% block content %}
    <div class="container row contentCase">
      <div class="sliderCase">
        <!-- carousel start -->
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <!-- slide, 3 image in 1 slide -->
            <div class="item clearfix active">
            {% set numSlide = 0 %}
            {% for oneProject in project %}
                <div class="slide_img" data-slideNum="{{ loop.index }}">
                    <img src="{{ oneProject.image.path }}" alt="{{ oneProject.title }}" />
                </div>
                {% if loop.last %}
                    {% set numSlide = numSlide+1 %}    
                    </div>
                {% elseif loop.index != 0 and loop.index % 3 == 0 %}
                    </div>
                    <div class="item clearfix">
                    {% set numSlide = numSlide+1 %}
                {% endif %}
            {% endfor %}
                
            <!-- end slide -->
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          <!-- slider button -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            {% for i in 1..numSlide-1 %}
                <li data-target="#myCarousel" data-slide-to="{{ i }}"></li>
            {% endfor %}
          </ol>
          
          <!-- end slider button -->  
            
            
        </div>
        <!-- carousel end -->
        
      </div>
      <!-- slider case end -->
      <div class="container textCase">
        <div class="row separatorBrown"></div>
        <!-- -->
        <div class="row">
            <div class="col-md-offset-1 col-md-4 mainNewsCase">
                <a href="{{ path('_default_news') }}" class="mainIcon miNews"></a>
                <div class="h3">
                    <a href="{{ path('_default_news') }}">Новости</a></div>
                <h4>
                    <a href="{{ path('_default_news') }}{{ oneNews.Id }}/{{ oneNews.NewsUrl }}">{{ oneNews.Title }}</a>
                </h4>
                <p>{{oneNews.ShortDescription}}</p>
                <p class="linkCase">
                    <a href="{{ path('_default_news') }}{{ oneNews.Id }}/{{ oneNews.NewsUrl }}" class="btn btn-default">Читать далее</a>
                </p>
            </div>
            <!--  -->
            <div class="col-md-offset-2 col-md-4 mainNewsCase">
                <a href="{{ path('_default_post') }}" class ="mainIcon miArticle"></a>
                <div class="h3">
                    <a href="{{ path('_default_post') }}">Статьи</a></div>
                <h4>
                    <a href="{{ path('_default_post') }}{{ onePost.Id }}/{{ onePost.PostUrl }}">{{ onePost.Title }}</a>
                </h4>
                <p>
                    {{onePost.ShortDescription}}
                </p>
                <p class="linkCase">
                    <a href="{{ path('_default_post') }}{{ onePost.Id }}/{{ onePost.PostUrl }}" class="btn btn-default">Читать далее</a>
                </p>
            </div>
        </div>
        <!-- -->
        <div class="row separatorBrown"></div>
        <!-- -->
        <h3 class="partnersHeadline">Партнеры</h3>
        <!-- -->
        <div class="row">
            <div class="partnersCase">
                <!-- баннер -->
                <!-- BEST LIKE BANNER 200x200-->
                <script type='text/javascript'>
                var best_like_width = 200;
                var best_like_height = 200;
                var best_like_uid = 46;
                var uniq = false;</script>
                <script type='text/javascript' src='http://best-like.ru/banners/load_banners.js'></script>
                <!-- END BANNER -->
            </div>
            <!-- -->
            <div class="partnersCase">
                <!-- -->
                <div class="ipatov_soft_banner">
                    <a href="http://ipatov-soft.ru/" target="_blank">
                        Создание сайтов
                    </a>
                </div>
                <!-- конец баннера -->
            </div>
        </div>
      </div>
  </div>
{% endblock content %}
