{% extends 'AdminCrudBundle::layout.html.twig' %}
{% block script %}
    <script>
        $(function(){
            $('.adminMenu > li').removeClass('active');
            $('.projectLi').addClass('active');
        })
    </script>
{% endblock script %}
    
    
{% block body -%}
    <h1>
        Управление проектами
    </h1>
    <p>
        <a href="{{ path('project_new') }}" class="btn btn-default">
          <span class="glyphicon glyphicon-edit"></span> 
          Добавить проект
        </a>
    </p>
    <p>&nbsp;</p>
    <div class="container">  
        <div class="row">  
            <div class="col-md-4">
                {{ knp_pagination_render(pagination)}}
            </div>
            <div class="col-md-4 col-md-offset-4 countPager">
                Всего {{ pagination.getTotalItemCount }} проектов
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-1"><strong>Id</strong></div>
            <div class="col-md-2"><strong>Заголовок</strong></div>
            <div class="col-md-2"><strong>Описание</strong></div>
            <div class="col-md-2"><strong>Картинка</strong></div>
            <div class="col-md-2"><strong>Ссылка</strong></div>
            <div class="col-md-1"><strong>Дата</strong></div>
            <div class="col-md-2"><strong>Действия</strong></div>
        </div>
        {% for oneProject in pagination  %}
        <div class="row">
            <div class="col-md-1"><strong><a href="{{ path('project_show', { 'id': oneProject.id }) }}">{{ oneProject.id }}</a></strong></div>
            <div class="col-md-2">{{ oneProject.title }}</div>
            <div class="col-md-2">{{ oneProject.description }}</div>
            <div class="col-md-2">
                {%if oneProject.image %}
                    <img src="{{ oneProject.image.path }}" alt="{{ oneProject.title}}" class="img-rounded" />
                {% endif %}                
            </div>
            <div class="col-md-2">{{ oneProject.link }}</div>
            <div class="col-md-1">{% if oneProject.createdtime %}{{ oneProject.createdtime|date('Y-m-d H:i:s') }}{% endif %}</div>
            <div class="col-md-2">
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Действия <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="{{ path('project_show', { 'id': oneProject.id }) }}">Показать</a>
                    </li>
                    <li>
                        <a href="{{ path('project_edit', { 'id': oneProject.id }) }}">Редактировать</a>
                    </li>                  
                    </ul>
                </div>
                <!-- -->
            </div>
        </div>
        {% endfor %}
        <p>&nbsp;</p>
    </div>    
    
    <!-- -->     
        <div class="container">  
            <div class="row">  
                <div class="col-md-4 clearfix">
                    {{ knp_pagination_render(pagination)}}
                </div>
            </div>
        </div>
        <!-- -->    
    {% endblock %}
