{% extends 'AdminCrudBundle::layout.html.twig' %}
{% block script %}
    <script>
        $(function(){
            $('.adminMenu > li').removeClass('active');
            $('.projectLi').addClass('active');
        })
    </script>
{% endblock script %}
    
    
{% block body -%}
    <h1>{{ entity.title }}</h1>
    <p>&nbsp;</p>
    
    <div class="container">
        <div class="row">
            <div class="col-md-2"><strong>Id</strong></div>
            <div class="col-md-10">{{ entity.id }}</div>
        </div>
        <p>&nbsp;</p>
        
        <div class="row">
            <div class="col-md-2"><strong>Заголовок</strong></div>
            <div class="col-md-10">{{ entity.title }}</div>
        </div>
        <p>&nbsp;</p>
        
        <div class="row">
            <div class="col-md-2"><strong>Описание</strong></div>
            <div class="col-md-10">{{ entity.description | raw}}</div>
        </div>
        <p>&nbsp;</p>
        
        <div class="row">
            <div class="col-md-2"><strong>Ссылка</strong></div>
            <div class="col-md-10">{{ entity.link }}</div>
        </div>
        <p>&nbsp;</p>
        
        <div class="row">
            <div class="col-md-2"><strong>Картинка</strong></div>
            <div class="col-md-10">
                {%if entity.image %}
                <img src="{{ entity.image.path }}" alt="{{ entity.title}}" class="img-rounded" />
                {% endif %}
            </div>
        </div>
        <p>&nbsp;</p>
        
        <div class="row">
            <div class="col-md-2"><strong>Дата</strong></div>
            <div class="col-md-10">{{ entity.createdtime|date('Y-m-d H:i:s') }}</div>
        </div>
        <p>&nbsp;</p>
        
    </div>
    
    <p>
        <!-- Вернуться к списку -->
        <a href="{{ path('project') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> Вернуться к списку
        </a>
        <!-- Редактировать -->
        <a href="{{ path('project_edit', { 'id': entity.id }) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span> Редактировать
        </a>
        <!-- Удалить -->
        <form action="{{ path('project_delete',{'id': entity.id}) }}" method="POST" {{ form_enctype(delete_form) }}>
           
            <button type="submit" id="form_submit" name="form[submit]" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span> Удалить
            </button>
            {{ form_row(delete_form._token) }}
         </form>
    </p>
    <p>&nbsp;</p>
    
    
    
{% endblock %}
