{% block title %} - {{news.Title }}{% endblock title %}

{% extends 'DemosBlogBundle::layout.html.twig' %}
{% block meta %}
    <meta name="Keywords" content="{{news.MetaKeywords}}">
    <meta name="Description" content="{{news.MetaDescription}}">
{% endblock meta %}

{% block content %}
    
<div class="container textCase pageCatalog">
    <h3>{{news.Title }}</h3>
    <p class="postImageCase">
    {%if news.image %}
        <img src="{{ news.image.path }}" alt="{{ news.title}}" />
    {% endif %}
    </p>
    <p><em>{{news.ShortDescription}}</em></p>
    <p>{{news.Description | raw}}</p>
    
    <p class="blackText">{{news.CreatedTime | date('Y.m.d') }}</p>
    
    <!-- -->
    <div class="row separatorBrown"></div>
    <!-- -->
    <h3 class="partnersHeadline">Партнеры</h3>
    <!-- -->
    <div class="row">
        <div class="partnersCase">
            <!-- баннер -->
            <!-- BEST LIKE BANNER 200x200-->
            <script type='text/javascript'>
            var best_like_width = 200;
            var best_like_height = 200;
            var best_like_uid = 46;
            var uniq = false;</script>
            <script type='text/javascript' src='http://best-like.ru/banners/load_banners.js'></script>
            <!-- END BANNER -->
        </div>
        <!-- -->
        <div class="partnersCase">
            <!-- -->
            <div class="ipatov_soft_banner">
                <a href="http://ipatov-soft.ru/" target="_blank">
                    Создание сайтов
                </a>
            </div>
            <!-- конец баннера -->
        </div>
    </div>
        
</div>


{% endblock content %}